.webuploader-container {
	position: relative;
}
.webuploader-element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
/*.webuploader-pick {
	position: relative;
	display: inline-block;
	cursor: pointer;
	background: #00b7ee;
	padding: 10px 15px;
	color: #fff;
	text-align: center; 
	border-radius: 3px;
	overflow: hidden;
}*/

.webuploader-pick {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;	
	color: #3c763d;
  	background-color: #fef4f4;
 	border-color: #d6e9c6;
}


.webuploader-pick-hover {
	background: #fdeadf;
}

.webuploader-pick-disable {
	opacity: 0.6;
	pointer-events:none;
}

